*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.body_wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
}
.body_wrapper .chart_main_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  position: relative;
}
.body_wrapper .chart_main_wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 9px 10px;
  margin-bottom: 4px;
}
.body_wrapper .chart_main_wrapper .header .header_left {
  display: flex;
  align-items: center;
}
.body_wrapper .chart_main_wrapper .header .header_left .header_ticker_select {
  margin-right: 20px;
}
.body_wrapper .chart_main_wrapper .header .header_left .header_ticker_select select {
  border: 1px solid black;
  border-radius: 0px;
  outline: none;
  padding: 4px 6px;
}
.body_wrapper .chart_main_wrapper .header .header_left .header_timeframe_select {
  display: flex;
}
.body_wrapper .chart_main_wrapper .header .header_left .header_timeframe_select .timeframe_item {
  width: 40px;
  border: 1px solid #888;
  padding: 4px 6px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  font-size: 12px;
}
.body_wrapper .chart_main_wrapper .header .header_left .header_timeframe_select .timeframe_item:last-child {
  margin-right: 0px;
}
.body_wrapper .chart_main_wrapper .header .header_left .header_timeframe_select .timeframe_item.timeframe_item_selected {
  font-weight: bold;
  background-color: #eee;
  border-color: #000;
}
.body_wrapper .chart_main_wrapper .header .header_right {
  display: flex;
  align-items: center;
}
.body_wrapper .chart_main_wrapper .header .header_right .header_chart_frame_select {
  display: flex;
}
.body_wrapper .chart_main_wrapper .header .header_right .header_chart_frame_select .chart_frame_item {
  width: 30px;
  border: 1px solid black;
  padding: 4px 6px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}
.body_wrapper .chart_main_wrapper .header .header_right .header_chart_frame_select .chart_frame_item:last-child {
  margin-right: 0px;
}
.body_wrapper .chart_main_wrapper .chart_main_body {
  display: grid;
  grid-template-columns: 1fr calc(100% - 55px);
  grid-template-rows: 1fr;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_tool_wrapper {
  width: 50px;
  background-color: #fff;
  border-top-right-radius: 4px;
  margin-right: 3px;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_tool_wrapper .tool_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_tool_wrapper .tool_list .tool_item {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_tool_wrapper .tool_list .tool_item:hover {
  background-color: #eee;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_tool_wrapper .tool_list .tool_item .tool_logo svg {
  display: block;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_tool_wrapper .tool_list .tool_item.tool_item_selected {
  background-color: #eee;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_main_frames {
  border-top-left-radius: 4px;
  display: grid;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_main_frames.main_frame_1 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_main_frames .chart_frame_wrapper {
  position: relative;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_main_frames .chart_frame_wrapper .chart_interaction_wrapper {
  display: none;
  position: absolute;
  width: calc(100% - 65px);
  height: calc(100% - 29px);
  left: 0px;
  top: 0px;
  z-index: 99;
}
.body_wrapper .chart_main_wrapper .chart_main_body .chart_main_frames .chart_frame_wrapper .chart_frame_main_wrapper {
  width: calc(100% - 1px);
  height: 100%;
}
.body_wrapper .chart_main_wrapper .chart_main_toolbar_canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.body_wrapper .chart_main_wrapper .chart_main_toolbar_canvas .dtv_toolbar_item {
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(106, 109, 120, 0.6);
  z-index: 999;
  height: 38px;
  overflow: hidden;
}
.body_wrapper .chart_main_wrapper .chart_main_toolbar_canvas .dtv_toolbar_item .dtv_toolbar_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.body_wrapper .chart_main_wrapper .chart_main_toolbar_canvas .dtv_toolbar_item .dtv_toolbar_wrapper .dtv_toolbar_drag {
  width: 22px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}
.body_wrapper .chart_main_wrapper .chart_main_toolbar_canvas .dtv_toolbar_item .dtv_toolbar_wrapper .dtv_toolbar_drag span svg {
  display: block;
  width: 8px;
  height: 12px;
  fill: #bbbbbb;
}
.body_wrapper .chart_main_wrapper .chart_main_toolbar_canvas .dtv_toolbar_item .dtv_toolbar_wrapper .dtv_toolbar_widget_list {
  height: 100%;
  display: flex;
  padding: 3px;
}
.body_wrapper .chart_main_wrapper .chart_main_toolbar_canvas .dtv_toolbar_item .dtv_toolbar_wrapper .dtv_toolbar_widget_list .dtv_toolbar_widget_item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
}
.body_wrapper .chart_main_wrapper .chart_main_toolbar_canvas .dtv_toolbar_item .dtv_toolbar_wrapper .dtv_toolbar_widget_list .dtv_toolbar_widget_item span svg {
  display: block;
  width: 28px;
  height: 28px;
  fill: #222222;
}
.body_wrapper .chart_main_wrapper .chart_main_toolbar_canvas .dtv_toolbar_item .dtv_toolbar_wrapper .dtv_toolbar_widget_list .dtv_toolbar_widget_item:hover {
  background-color: #f0f3fa;
}/*# sourceMappingURL=style.css.map */