@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.body_wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #ddd;

    .chart_main_wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: auto;
        position: relative;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 9px 10px;
            margin-bottom: 4px;

            .header_left {
                display: flex;
                align-items: center;

                .header_ticker_select {
                    margin-right: 20px;

                    select {
                        border: 1px solid black;
                        border-radius: 0px;
                        outline: none;
                        padding: 4px 6px;
                    }
                }

                .header_timeframe_select {
                    display: flex;

                    .timeframe_item {
                        width: 40px;
                        border: 1px solid #888;
                        padding: 4px 6px;
                        text-align: center;
                        cursor: pointer;
                        margin-right: 10px;
                        font-size: 12px;

                        &:last-child {
                            margin-right: 0px;
                        }

                        &.timeframe_item_selected {
                            font-weight: bold;
                            background-color: #eee;
                            border-color: #000;
                        }
                    }
                }
            }

            .header_right {
                display: flex;
                align-items: center;

                .header_chart_frame_select {
                    display: flex;

                    .chart_frame_item {
                        width: 30px;
                        border: 1px solid black;
                        padding: 4px 6px;
                        text-align: center;
                        cursor: pointer;
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }

                .go_to_date_calendar {
                    position: relative;
                    cursor: pointer;

                    .logo {
                        svg {
                            width: 28px;
                            height: 28px;
                            display: block;
                        }
                    }

                    input {
                        cursor: pointer;
                        position: absolute;
                        opacity: 0;
                        width: 28px;
                        height: 28px;
                        left: 0;
                        top: 0;
                        z-index: 1;
                    }
                }
            }
        }

        .chart_main_body {
            display: grid;
            grid-template-columns: 1fr calc(100% - 55px);
            grid-template-rows: 1fr;

            .chart_tool_wrapper {
                width: 50px;
                background-color: #fff;
                border-top-right-radius: 4px;
                margin-right: 3px;

                .tool_list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 0px;

                    .tool_item {
                        width: 32px;
                        height: 32px;
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        margin-bottom: 2px;

                        &:last-child {
                            margin-bottom: 0px;
                        }

                        &:hover {
                            background-color: #eee;
                        }

                        .tool_logo svg {
                            display: block;
                        }

                        &.tool_item_selected {
                            background-color: #eee;
                            // background-color: red;
                        }
                    }
                }
            }

            .chart_main_frames {
                border-top-left-radius: 4px;
                // overflow: hidden;
                display: grid;

                &.main_frame_1 {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                }

                .chart_frame_wrapper {
                    position: relative;

                    .chart_interaction_wrapper {
                        display: none;
                        position: absolute;
                        width: calc(100% - 65px);
                        height: calc(100% - 29px);
                        left: 0px;
                        top: 0px;
                        z-index: 99;
                    }

                    .chart_frame_main_wrapper {
                        width: calc(100% - 1px);
                        height: 100%;
                    }

                    .hud_main {
                        width: 100%;
                        background-color: transparent;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        z-index: 999;
                        cursor: crosshair;
                        user-select: none;
                        pointer-events: none;

                        .hud_wrapper {
                            padding: 8px 8px;

                            .hud_row {
                                display: inline-flex;
                                width: 100%;
                                margin-bottom: 5px;

                                &:last-child {
                                    margin-bottom: 0px;
                                }

                                .hud_row_content {
                                    background-color: rgba(255, 255, 255, .4);
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                }

                                .hud_ohlc {
                                    display: flex;

                                    .hud_ohlc_value {
                                        display: flex;
                                        margin-right: 6px;

                                        &:last-child {
                                            margin-right: 0px;
                                        }
                                    }
                                }
                            }

                            .hud_element {
                                padding: 3px 10px 3px 5px;
                                cursor: default;
                                pointer-events: auto;
                            }

                            .hud_text {
                                display: inline;
                                font-size: 14px;
                                // font-weight: 500;


                                &:last-child {
                                    padding-right: 5px;
                                }
                            }

                            .hud_text_small {
                                font-size: 13px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }

        .chart_main_toolbar_canvas {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;

            .dtv_toolbar_item {
                position: absolute;
                background-color: #fff;
                border-radius: 6px;
                box-shadow: 0 2px 6px #6a6d7899;
                z-index: 999;
                height: 38px;
                overflow: hidden;
                pointer-events: all;

                .dtv_toolbar_wrapper {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .dtv_toolbar_drag {
                        width: 22px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: grab;



                        span {
                            pointer-events: none;

                            svg {
                                display: block;
                                width: 8px;
                                height: 12px;
                                fill: #bbbbbb;
                            }
                        }
                    }

                    .dtv_toolbar_widget_list {
                        height: 100%;
                        display: flex;
                        padding: 3px;

                        .dtv_toolbar_widget_item {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0px 4px;

                            span {
                                pointer-events: none;

                                svg {
                                    display: block;
                                    width: 28px;
                                    height: 28px;
                                    fill: #222222;
                                }
                            }

                            &:hover {
                                background-color: #f0f3fa;
                            }
                        }
                    }
                }
            }
        }
    }

}

@import "replay";
@import "indicator";