.color_picker_main {
    border-radius: 6px;
    box-shadow: 0 2px 4px #0003;
    box-sizing: border-box;
    text-align: left;
    -webkit-user-select: none;
    user-select: none;
    z-index: 100;

    .container {
        padding: 6px 12px;
        width: 224px;

        .color_area {
            .swatch {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -3px 6px;
            }
        }

        .opacity_controller {
            .opacity_slider {}
        }
    }

}